.heroBox{
    perspective: 800px; 
    transform-style: preserve-3d;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

 
.loader {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.boxex{
  perspective: 600px; 
 
  transform-origin: top;
}

.marquee {
  cursor: -webkit-grab;
  position: relative;
  border:1px solid black
}
 

.item:nth-child(2){
  position: absolute;
  top:0;
  right:-58%;
  border:1px solid red
}

.item:nth-child(3){
  position: absolute;
  top:0;
  right:-139%;
  border:1px solid red
}

.item {
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  /* will-change: transform; */
}

.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
 
}

.circle{
  offset-path: path('M198.5 107C198.5 157.534 157.534 198.5 107 198.5C56.4659 198.5 15.5 157.534 15.5 107C15.5 56.4659 56.4659 15.5 107 15.5C157.534 15.5 198.5 56.4659 198.5 107Z');
}


.circle3{
  offset-path:path('M17 17H134.111C164.978 17 190 42.0222 190 72.8886V72.8886C190 103.343 165.617 128.192 135.167 128.767L17 131') ;
}

.circleLast{
  offset-path:path('M1 0.5V145.5C1 176.98 26.5198 202.5 58 202.5H380')
}
.specialContainer{
  position: relative;
}
.specialContainer::after{
  position: absolute;
  content: '';
  bottom:5px;
  left:0;
  width:0%;
  background-color: rgb(24, 24, 24);
  height: 1px;
  animation: leftRight 2.8s forwards;
  z-index: -99;
}

@keyframes leftRight{
  100%{
    width: 100%;
  }
}



